@import "styles/variables";

.header-box-b{background-color: rgba(0, 0, 0, 0.2);}
.nav-bgc{  background-color: $ColorBlue-dark;}
.color-lightW{color: $TextW;}
.color-lightG{color: $ColorGreyH;}
.font-W8{font-weight: 800;}

.bg-img{
    background-image: url(./assets/bg-2.jpg);
    background-size: cover;
    height: 50vw;
    position: relative;
}



.btn-green{
    background-color: $btn-dark;
    color: $TextW;
    padding-inline: 20px;
}

.btn-green-tex{
    border: 1px solid $btn-dark;
    color: $btn-dark;
    padding-inline: 20px;
}

.btn-light{
    //background: none;
    background:none;
    border: 1px solid  $btn-dark;
    color: $TextW;
    padding-inline: 20px;

    &:hover{
        
        background-color: $btn-dark;
        color: $TextW;
        border: 1px solid  $btn-dark;
    
    }
}

.Big-Pad{
    padding: 150px 0;
}