.bord-10{
    border-radius: 5px;
    overflow: hidden;
}
.pad-10{padding: 10px;}
.pad-20{padding: 20px;}


//font weight / size
.font-W6{font-weight: 600;}

.font-w3{font-weight: 300;}
.font-s12{font-size: 12px;}

.card-news-tittle{
    font-size: 16px;
    font-weight: 600;
    }
//color
.bg-color-none{background-color: #ffffff00;}
.bg-color-grey{background-color: #EEF4ED;}
.h1-tittle-d{color: $dark-text;}
.bg-grey{background-color: $ColorG;}
.text-g{color: $green-text;}
.back-GB{ background-color: $color-Bl;}
.bg-card{ background-color: #1D2528;}
.back-green{ background-color: $btn-dark;}
.cs{ background-color: $btn-dark;}
.color-grey{color: $ColorDark-grey;}


.w_full{ width: 100%;}
.card{border: none;}
.b-none{border: none;}
.w-half{width: 49%;}
.inpt-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pad-5{
    padding: 0 10px;
    background-color:  rgba(96, 169, 173, 0.3);
}

.img-box{
    width: 80%;
    margin: 0 auto;
    img{
        width: 100%;
        object-fit: cover;
    }
}

.box-text-img{

    .text-off-hover{
        opacity: 1;
    }
    &:hover{
        .text-off-hover{
            opacity: 0;
        }
    }

    &:hover{
        .hover-text{
            opacity: 1;
             background-color:  rgba(0, 0, 0, 0.411);
             backdrop-filter: blur(2px);

        }
    }

    position: relative;
    border-radius: 30px;
    overflow: hidden;
    //testo della card nascosto
    .hover-text{
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    h4 {
        position: absolute;
    bottom: 30px;
    text-align: center;
    left: 0;
    right: 0;
    }
 

    
}

.news-img{
    position: relative;
   

    &::before{     
    content: "";
    background-color: rgba(0, 0, 0, 0.308);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    }
}

.news-img, .img-card{
    
    border-radius: 10%;
    overflow: hidden;
    img{
        width: 100%;
        object-fit: cover;
    }
}



ul{
    list-style:none
}

.bg-img-numbers{
    background-image: url(./assets/bg-1.jpg);

}

.p-relative{position: relative;}

.box-play{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.box-play2{
    display: flex;
    color: #CAECEC;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
}

.card-service{
    &:hover{
        .icon-card-header{
            color: #EEF4ED;
        }

        span > i{
            padding: 3px;
            text-align: center;
            background-color: #058283;
            border-radius: 50%;
        }
    }
}


.icon-circle{
    background: #DAECED;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
}