$BCdarkBlue:#568597;
$TextW:#FFFFFF;
$ColorG:#ECECEC;
$ColorGreyH:#C0C3D0;
$ColorDark-grey:#676669;

.Box-container{
    width:900px; 
    margin: 0 auto;
}

$btn-dark:#058283;

$dark-text:#1D2528;
$green-text: #058283;

$color-Bl:#111117;